@charset "utf-8";

* {box-sizing:border-box;}
@font-face {
	font-family: Animated;
	src: url(Animated.ttf);
}
html {background-color:#F7F2EB;}
h1, h2 {font-family: Animated;}
.section {background-color:#3FC5CF;}
.heading1 {
	top:30%;
	left:10%;
	transform:rotate(-1deg);
}
.heading1 h1 {
	font-size: 10vw;
	color: #F15A24;
	transform:rotate(-11deg);
	text-align: center;
}
.heading1 h2 {
	font-size: 10vw;
	color: #F15A24;
	transform:rotate(-11deg);
}
.heading2 h2 {
	padding:20px;
	text-align:center;
	color:#fff;
	font-size:30px;
}
.heading3 h2 {
	font-size: 2.5vw;
	color: #fff;
	position: absolute;
	text-shadow: 1px 1px 1px #000;
	cursor: pointer;
}
.heading3 h2:active {
	outline: none;
}
#headerArea {
	opacity: 0;
	z-index: 99;
}
#content {padding-bottom:0;}
#footerArea {
	margin-top: 0;
	padding-top: 35px;
	background-color: #F7F2EB;
	position: relative;
	z-index:20;
}
#peta {
	width:55vw;
	margin:auto;
	top:1%;
	left:0;
	right:0;
}
#peta_dunia {
	padding-top: 60px;
	width: 100vw;
	background-image: url(../img/peta-dunia2.png);
	background-color: #3FC5CF;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 20;
}
#landing_image {
	background-image: url(../img/bg_langit.png);
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 100vw 50vh;
	z-index: -1;
}
#btn_jepang {
	top: 10%;left: 25%;
	-webkit-animation: bouncing 2s infinite;
			animation: bouncing 2s infinite;
}
#btn_malaysia {
	top: 5%;left: 52%;
	-webkit-animation: bouncing 3s infinite;
			animation: bouncing 3s infinite;
}
#btn_korea {
	top: 15%;left: 87%;
	-webkit-animation: bouncing 2.5s infinite;
			animation: bouncing 2.5s infinite;
}
#btn_singapura {
	top: 30%;left: 32%;
	-webkit-animation: bouncing 3.25s infinite;
			animation: bouncing 3.25s infinite;
}
#btn_thailand {
	top: 40%;left: 2%;
	-webkit-animation: bouncing 2.75s infinite;
			animation: bouncing 2.75s infinite;
}
.awan1,.awan2 {
	width: 10vw;
	top: 5%;
}
.awan1 {
	left: 5%;
	right: 5%;
}
.bg_awan {
	width: 100vw;
	height: 48px;
	z-index: 20;
	position: relative;
}
.bg_awan_top {
	height:105px;
	margin-top:-125px;
	z-index:20;
	background-image: url(../img/bg_awan1.png);
	background-repeat: repeat-x;
	background-position: center;
}
.bg_awan_bottom {
	height:120px;
	background-image: url(../img/bg_awan2.png);
	background-repeat: repeat-x;
	background-position: center;
}
.landmark {
	margin: auto;
	right: 0;
	width: 60%;
}
.back_diorama {
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
}
.back_diorama img {
	width: 100%;
}
.back_prop {
	position: fixed;
}
.back_prop img{
	width: 100%;
}
.cerita {
	padding-top: 100px;
	padding-bottom: 0;
	margin-top: -100px;
	background-image: url(../img/rel-stasiun.png);
	background-repeat: repeat-y;
	background-position: center;
	background-size: 100px;
	z-index: 9;
}
.cerita .text-paragraph {
	max-width: 1300px;
}
.cerita .text-paragraph .row {
	margin-top: 20px;
	margin-bottom: 20px;
	z-index: 10;
	position: relative;
}
.cerita .text-paragraph .row div {
	padding: 20px;
	max-width: 580px;
	color: #fff;
}
.cerita .text-paragraph .row h2 {
	font-size: 32px;
	font-weight: 100;
	letter-spacing: 1px;
	padding: 10px 0 10px 0;
	text-align: left;
}
.cerita .text-paragraph .row div p{
	text-align: left;
	padding: 0;
	padding: 10px 0 10px 0;
}
.cerita .text-paragraph div img{
	width: 90%;
	opacity: 0;
	-webkit-box-shadow: -5px 10px 5px 0px rgba(6,159,164,1);
	-moz-box-shadow: -5px 10px 5px 0px rgba(6,159,164,1);
	box-shadow: -5px 10px 5px 0px rgba(6,159,164,1);
}
.cerita .text-paragraph .row:nth-child(odd) div:first-of-type {
	float: left;
}
.cerita .text-paragraph .row:nth-child(odd) div:last-of-type {
	float: right;
}
.cerita .text-paragraph .row:nth-child(odd) img{
	transform: rotate(3deg);
}
.cerita .text-paragraph .row:nth-child(even) div:first-of-type {
	float: right;
}
.cerita .text-paragraph .row:nth-child(even) div:last-of-type {
	float: left;
}
.cerita .text-paragraph .row:nth-child(even) img{
	transform: rotate(-3deg);
}
.train_stop {
	position: absolute;
	right: 0;
	width: 300px;
	height: 1px;
}
.cerita_prop {
	position: fixed;
	opacity: 0;
	margin: auto;
	top: auto;
	left: 0;
	bottom: 150px;
	right: 0;
	z-index: 9;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.cerita_prop_show {
	opacity: 1;
}
.cerita_prop_stop {
	position: absolute !important;
	bottom: 150px;
	top: auto;
}
.back_pesawat {
	position: absolute;
	/* bottom: 30%;
	left: -20%; */
	animation: flight ease-out 3s;
	animation-iteration-count: 1;
}
.back_pesawat img {
	width: auto;
}
.map_prop {
	margin:auto;
	top:0;
	left:0;
	right:0;
	width:8vw;
}
.map_prop img {width: 100%;}
.text-paragraph h2 {
	color: #fff;
	font-weight: 100;
	text-align: center;
	letter-spacing: 1px;
}
.text-paragraph p {
	text-align: center;
}
.text-caption {
	display: table-cell;
	vertical-align: middle;
	padding-left: 2vw;
	padding-right: 2vw;
}
.field {position: relative;}
@-webkit-keyframes flight {
	0%  	{opacity:0;transform:translate(-50vw,30vw);}
	25%  	{opacity:1;}
	100%  	{opacity:1;transform:translate(0,0);}
}
@keyframes flight {
	0%  	{opacity:0;transform:translate(-50vw,30vw);}
	25%  	{opacity:1;}
	100%  	{opacity:1;transform:translate(0,0);}
}

.zoom {
	-ms-transform: scale(2,2);
	-webkit-transform: scale(2,2);
	transform: scale(2,2);
}
@-webkit-keyframes bouncing {
	0%   {-ms-transform: translate(0,0);-webkit-transform: translate(0,0);transform: translate(0,0);}
	50%  {-ms-transform: translate(0,-10px);-webkit-transform: translate(0,-10px);transform: translate(0,-10px);}
	100%   {-ms-transform: translate(0,0);-webkit-transform: translate(0,0);transform: translate(0,0);}
}
@keyframes bouncing {
	0%   {-ms-transform: translate(0,0);-webkit-transform: translate(0,0);transform: translate(0,0);}
	50%  {-ms-transform: translate(0,-10px);-webkit-transform: translate(0,-10px);transform: translate(0,-10px);}
	100%   {-ms-transform: translate(0,0);-webkit-transform: translate(0,0);transform: translate(0,0);}
}

@media only screen and (max-width: 1024px) {
	.cerita .text-paragraph .row div {
		padding: 20px;
		max-width: 460px;
		color: #fff;
	}
}

@media only screen and (max-width: 768px) {
	.awan1,.awan2 {
		width: 20vw;
	}
	#peta {
		width: 135vw;
		top: 10vh;
		right: initial;
		left: -40vw;
	}
	.back_pesawat img {
		width: 50px;
	}
	.heading1 {
		top:35vh;
		left:10vw;
	}
	.heading1 h1{
		font-size: 25vw;
		text-align: left;
	}
	.heading1 h2{
		font-size: 10vw;
	}
	.heading3 h2{
		font-size: 4.5vw;
	}
	.landmark {
		bottom: 20%;
	}
	.cerita {
		background-position: 5px;
		background-size: 60px;
	}
	.cerita .text-paragraph .row {
		margin-left: 60px;
	}
	.cerita .text-paragraph .row p{
		font-size: 15px;
	}
	.cerita .text-paragraph div img{
		width: 100%;
	}
	.cerita_prop_show {
		z-index: 10;
		left: 26px;
		right: auto;
	}
}